<input type="input" id="datepicker" />



<br/>


<script src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
<script src="http://datejs.googlecode.com/files/date.js"></script>
<script src="http://plugins.jquery.com/files/jquery.dump.js.txt"></script>

<script src="ui/ui.core.js"></script>
<script src="ui/ui.datepicker.js"></script>
<!--
<link type="text/css" href="/templates/themes/base/ui.base.css" rel="stylesheet"></link>
-->
<style>
body
{
}

.ui-datepicker td
{
  border-style:solid;
  border-width:1px;
}

.ui-cal-date
{
font-size:.5em;
vertical-align:top;
}
</style>

<script>
$('#datepicker').datepicker();
</script>
