<html>
<head>
</head>
<body>

<div id="before">
this is information holder<br/>
I like cheese.
</div>
<div id="frame">
<span><span>one</span></span>
<span>two</span>
<span>three</span>
<span>four</span>
<span>five</span>
<span>six</span>
<span>seven</span>
<span>one</span>
<span>two</span>
<span>three</span>
<span>four</span>
<span>five</span>
<span>six</span>
<span>seven</span>
<span>one</span>
<span>two</span>
<span>three</span>
<span>four</span>
<span>five</span>
<span>six</span>
<span>seven</span>
<span>one</span>
<span>two</span>
<span>three</span>
<span>four</span>
<span>five</span>
<span>six</span>
<span>seven</span>
<span>one</span>
<span>two</span>
<span>three</span>
<span>four</span>
<span>five</span>
<span>six</span>
<span>seven</span>
</div>
<div id="after">
spam, spam, spam, spam.<br/>
the points don't matter!!
</div>



<style>
#before
{
  border-style:solid;
}
#after
{
  border-style:solid;
}
#frame
{
  border-style:solid;
  height:240px;
}
ul
{
  spanst-style-type:none;
  margin: 0;
  padding: 0;
}
#frame span
{
  float:left;
  width:13%;
  height:20%;
  background-color:blue;
//  padding:2px;
}
#frame span span
{
  color:red;
  background-color:green;
//  float:left;
//  position:relative;
  width:100%;
  height:100%;
}
</style>







</body>
</html>
