<html>
<head>
</head>
<body>


<div class="cal-div">
<table id="cal">
</table>
</div>




<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script src="http://plugins.jquery.com/files/jquery.dump.js.txt"></script>
<script src="http://cse.taylor.edu/~sbird/js/jquery-ui-1.7.2/ui/jquery-ui.js"></script>
<script src="http://datejs.googlecode.com/files/date.js"></script>
<script src="http://cse.taylor.edu/~sbird/js/std.js"></script>
<script src="http://cse.taylor.edu/~sbird/js/date2.js"></script>

<script>
var glob;

var iterate = function(next, go) {
  var n;
  while(n = next()) {
    go(n)
  }
};

var makeDay = function(weekDOM, payload) {
  $('<td class="day">' + (payload?payload:'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;') + '</td>').appendTo(weekDOM);
};

var iterateTimeSegmentFn = function(s,e, next) {
  var start = s;
  var end = e;
  var date = new Date(start);
  next = next || function(date) { date.next().day() };

  var firsttime = true;

  return function() {
    if(firsttime) {
      firsttime = false;
      std.prompt('first time: ' + date);
      return date;
    } else if(date >= start && date < end) {
      next(date);
      std.prompt(date);
      return date;
    }
    std.prompt('false :(');
    return false;
  };
};
var iterateDistFn = iterateTimeSegmentFn;

var iterateWeekFn = function(w) {
  w.thisWeek().prev().sun();

  var start = new Date(w);
  var end = new Date(w.next().sat());

  return iterateTimeSegmentFn(start, end);

};

var makeWeek = function(w) {
  var tr = $('<tr/>')[0];
  $('#cal').append(tr);
  iterate(iterateWeekFn(w), function(date) { makeDay(tr, payload.get(date))});
}

var iterateWistFn = function(start, end) {

  var next = function(date) { date.next().mon(); }

  return iterateTimeSegmentFn(start, end, next);

}

var makeWist = function(start, end) {
  iterate(iterateWistFn(start.thisWeek(),
                        end.thisWeek() ),
          makeWeek);
};

var payload = {};
payload.get = function(date) {
  if(! payload[date] ) {
    payload[date] = date.getDate() + '<hr/>';
  }
  return payload[date];
};
payload.inc = function(date, value) {
  payload.get(date);
  payload[date] += value;
};

</script>

<div id="alpha"></div>
<script>
var ajax_gameJson2Html = function(data, textStatus) {
  var json = eval(data);
  var args = this.args;
  var start = Date.parse(args.start);
  start.setHours(0);
  var end = Date.parse(args.end);
  start.setHours(0);
  std.prompt(start + '  ' + end);

  /*
  iterate(iterateTimeSegmentFn(start, end), function(date) {
    if(! payload.get(date))
      payload.get(date) = date.getDate() + '<hr/>';
  });
  */


  std.prompt('after');

  for(k in json) {
    var game = json[k]
    var date = Date.parse(game.fields.StartTime);
    date.setHours(0); //makeDay function assumes that all indexes have a zero hour.
    payload.inc(date, '<a href="#">' + game.fields.HomeTeam.fields.Name + '<br/>' +
                                       game.fields.AwayTeam.fields.Name + '</a><hr/>');
  }

  makeWist(start, end);
};

var makeDayFn = function(date, weekDOM, pl) {
  var payload = pl;

  return function() {
    makeDay(weekDOM, payload.get(date))
  };
};

var getGames = function(start, end, fn) {
  fn = fn || ajax_gameJson2Html;

  $.ajax({
    url:"/getGames",
    type: "post",
    data: {
      'start':start,
      'end':end
    },
    args: {
      "start":start,
      "end":end
    },
    success: fn
  });
};

getGames('2009-9-16', '2009-9-18');
</script>

<style>
.cal-div
{
}
#cal td
{
  border-style: solid;
  vertical-align: top;
}
#cal
{
  border-collapse:collapse;
}
</styl>

</body>
</html>
