<html>
<head>
</head>
<body>


<ol id="selectable">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
  <li>Item 4</li>
  <li>Item 5</li>
  <li>Item 6</li>
  <li>Item 7</li>
</ol>

<div class="selectable">
<div>
  <div>one</div>
  <div>two</div>
  <div>three</div>
</div>
</div>


<br/>
<div class="draggable">Drag Me!</div>
<div class="draggable">Drag Me2</div>
<div class="draggable">Drag Me3</div>
<div class="draggable">Drag Me4</div>
<div class="droppable">Drop Here<br/><br/>Drop Here</div>
<textarea class="resizable"></textarea>
<div class="selectable">Select Me</div>


<div class="sortable">
  <div>one</div>
  <div>two</div>
  <div>three</div>
  <div>four</div>
</div>
<input type="text" class="datepicker"/>



<!------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------>

<link type="text/css" href="/~sbird/js/jquery-ui-1.7.2/themes/base/ui.core.css" rel="stylesheet"></link>
<link type="text/css" href="/~sbird/js/jquery-ui-1.7.2/themes/base/ui.datepicker.css" rel="stylesheet"></link>
<!--
<link type="text/css" rel="stylesheet" href="http://jqueryui.com/demos/demos.css"></link>
-->
<style type="text/css">
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
.selectable .ui-selecting { background: red; }
.selectable .ui-selected { background: blue; color: white; }
.selectable {  }

.droppable
{
background-color:red;
}
</style>

<!------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------>


<script src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
<script src="http://plugins.jquery.com/files/jquery.dump.js.txt"></script>
<script src="/~sbird/js/jquery-ui-1.7.2/ui/ui.core.js"></script>
<script src="/~sbird/js/jquery-ui-1.7.2/ui/ui.draggable.js"></script>
<script src="/~sbird/js/jquery-ui-1.7.2/ui/ui.droppable.js"></script>
<script src="/~sbird/js/jquery-ui-1.7.2/ui/ui.resizable.js"></script>
<script src="/~sbird/js/jquery-ui-1.7.2/ui/ui.selectable.js"></script>
<script src="/~sbird/js/jquery-ui-1.7.2/ui/ui.datepicker.js"></script>

<script>
//$('.draggable').draggable();
$('.droppable').droppable({
  drop: function(event, ui) {
    alert('you got dropped');
  }
});
$('.resizable').resizable();
$('.resizable').draggable();
$('.selectable').bind('selecting', function(event, ui) {
  alert('hi');
});
$('.selectable').selectable({
  selecting: function(event, ui) {
    alert('hi');
  }
});
$("#selectable").selectable();
$('.datepicker').datepicker();

</script>

</body>
</html>
