{% extends 'base.html' %}
{% block content %}
<div class="confirmPart1">
<form action="https://secure.touchnet.com/C21485_upay/web/index.jsp" method="post">
<p>The first part of your application has been approved, but
   in order to complete registration you must pay the 
   intramural sports registration fee</p><br />
<input type="hidden" value="5" name="UPAY_SITE_ID" />
<input type="hidden" value="{{BILL_NAME}}" name="BILL_NAME" />
<input type="hidden" value="{{EXT_ID_LABEL}}" name="EXT_ID_LABEL" />
<input type="submit" id="makePayment" value="Continue to make payment >>>>"/>
</form>
</div>
{% endblock %}
