{% extends "base.html" %}
{% block content %}
<div id="errors">

</div>
<h1>Create a Team</h1>
<div id="progress">
	<table class="mainlayout" align="center">
		<tr class="navigation">
			<td class="navigationselect">
			<h3> Step 1 </h3>
			</td>
			<td>
			<h3> Step 2 </h3>
			</td>
			<td>
			<h3> Step 3 </h3>
			</td>
			<td>
			<h3> Step 4 </h3>
			</td>
			<td>
			<h3> Step 5 </h3>
			</td>
		</tr>
	</table>

</div>
<form action="createTeam1" method="POST">
<div id="step1">
	<h4>Sport</h4>
	{{ form.sportId }}{% if form.errors.sportId %}<span class = "error">This field must be entered</span>{% endif %}
	<h4>League</h4>
	{{ form.leagueId }}{% if form.errors.leagueId %}<span class = "error">This field must be entered</span>{% endif %}
	<input type="button" value="Next" class="nextButton"/>
</div>
<div id="step2" class="hide">
	<h4>Team name</h4>
	{{ form.teamName }}{% if form.errors.teamName %}<span class = "error">This field must be entered</span>{% endif %}
	<h4>Floor/Wing</h4>
	{{ form.locationId }}{% if form.errors.locationId %}<span class = "error">This field must be entered</span>{% endif %}
	<input type="button" value="Back" class="backButton"/>
	<input type="button" value="Next" class="nextButton"/>
</div>
<div id="step3" class="hide">
	<h4>Enter Captain's First Name </h4>
	{{ form.captainFirstName }} {% if form.errors.captainFirstName %}<span class = "error">This field must be entered</span>{% endif %}
	<h4>Enter Captain's Last Name </h4>
	{{ form.captainLastName }}{% if form.errors.captainLastName %}<span class = "error">This field must be entered</span>{% endif %}
	<h4>Captain's Email Address</h4>
	{{ form.captainEmail }} {% if form.errors.captainEmail %}<span class = "error">This field must be entered</span>{% endif %}
	<h4>Captain's School ID</h4>
	{{ form.captainId }}{% if form.errors.captainId %}<span class = "error">This field must be entered</span>{% endif %}
	<br />
	<input type="button" value="Back" class="backButton"/>
	<input type="button" value="Next" class="nextButton"/>
</div>
<div id="step4" class="hide">
  <h4>Team Password</h4>
  {{ form.teamPassword }}{% if form.errors.teamPassword %}<span class = "error">This field must be entered</span>{% endif %}
   (Your teammates will need this password to sign up for you team, so don't mispell Mary Lou's name)<br/>
  <h4>Repeat Team Password</h4>
  {{ form.repeatTeamPassword }}{% if form.errors.repeatTeamPassword %}<span class = "error">This field must be entered</span>{% endif %}
  <div id="inviteeList">
    <h4>Invite Team Members</h4>
    You can also enter your teammates' e-mail addresses if you want us to e-mail them the password and link to the site:
    <input type="text" class="inviteeEmail lastInvitee"/><br/>
    </div>
  <input type="button" value="Back" class="backButton"/>
  <input type="button" value="Next" class="nextButton"/>
  <br />
</div>
<div id="step5" class="hide">
	<textarea name="Terms of Agreement" cols="100" rows="20" readonly="readonly">{{ termsOfAgreement }}PLEASE NOTE
		We are unable to accept credit cards issued by banks outside of the United States or prepaid gift cards issued by credit card companies. Debit cards and check cards have daily spending limits that may prevent the processing of your order.
		If a transaction has been declined online due to credit card issues, or issues with your PayPal account, please ensure all data is correct and resubmit. If the transaction is not accepted online, you will be unable to use that card or your PayPal account (as the case may be) for your transaction and should use another credit card.
		BILLING
</textarea>
    	<h4>I Agree</h4>{{ form.legal }}<br />{% if form.errors.legal %}<span class = "error">This field must be entered</span>{% endif %}
	<input type="button" value="Back" class="backButton"/>
	<input type="submit" value="Next" class="proceedToPayment"/>
</div>
</form>

<script>
$('.hide').hide('fast')
addAnotherInvitee = function(){
    if( /lastInvitee/.test($(this).attr('class')) &&
        /./.test($(this).val())
      ) {
        $text = $('<input type="text" class="inviteeEmail lastInvitee"/><br/>').keypress(addAnotherInvitee).blur(removeBlankInvitee);
        $('#inviteeList').append($text);
        $(this).removeClass('lastInvitee');
    }
};
removeBlankInvitee = function() {
    if($(this).val() == '' && ! /lastInvitee/.test($(this).attr('class')) ) {
        $(this).next('br').remove();
        $(this).remove();
    }
};
$('.lastInvitee').keypress(addAnotherInvitee).blur(removeBlankInvitee);

$('.nextButton').click(function(){
  $(this).parent('div').hide('slow');
  currId = $(this).parent('div').get(0).id;
  nextId = parseInt(currId.substr(4,5))+1;
  nextId = '#step' + nextId;
  $(nextId).show('slow');
  });

$('.backButton').click(function(){
 $(this).parent('div').hide('slow');
  currId = $(this).parent('div').get(0).id;
  nextId = parseInt(currId.substr(4,5))-1;
  nextId = '#step' + nextId;
  $(nextId).show('slow');   
  });

</script>

{% endblock %}

