<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<title>Create a Team</title>
</head>
<body>
<div id="header">
	<table class="mainlayout" align="center">
		<tr class="titlehead">
			<td colspan="5">
			<h1 align="center">Create a Team </h1>
			</td>
		</tr>
		<tr class="navigation">
			<td class="navigationselect">
			<h3> Step 1 </h3>
			</td>
			<td>
			<h3> Step 2 </h3>
			</td>
			<td>
			<h3> Step 3 </h3>
			</td>
			<td>
			<h3> Step 4 </h3>
			</td>
			<td>
			<h3> Step 5 </h3>
			</td>
		</tr>
	</table>

</div>
<div id="step1">
	<h4>Team name</h4>
	<input type="text" name="teamname"/>
	<h4>Floor/Wing</h4>
	<select name="Floor/Wing">
	{% for location in locationList %}
		<option value="{{ location }}">{{ location }}</option>
	{% endfor %}
	</select>
	<input type="button" value="Next" class="nextButton"/>
</div>
<div id="step2" class="hide">
	<h4>Team Captain</h4>
	<input type="text" name="teamcaptain"/>
	<h4>Captain's School ID</h4>
	<input type="text" name="CaptainID"/>
	<h4>Captain's Email Address</h4>
	<input type="text" name="CaptainEmail"/>
	<input type="button" value="Back" class="backButton"/>
	<input type="button" value="Next" class="nextButton"/>

</div>
<div id="step3" class="hide">
	<textarea name="Terms of Agreement" cols="100" rows="20" readonly="readonly">{{ termsOfAgreement }}PLEASE NOTE

		We are unable to accept credit cards issued by banks outside of the United States or prepaid gift cards issued by credit card companies. Debit cards and check cards have daily spending limits that may prevent the processing of your order.

		If a transaction has been declined online due to credit card issues, or issues with your PayPal account, please ensure all data is correct and resubmit. If the transaction is not accepted online, you will be unable to use that card or your PayPal account (as the case may be) for your transaction and should use another credit card.

		BILLING

		If you are transacting using 1-Click or your PayPal account, your order may be authorized and billed in gradual increments during one purchasing and renting (as applicable) session as you click the "Buy Now" button. Depending on the size of your order, this may appear as multiple orders and billings on your credit card statement.

		If you use the Shopping Cart functionality, you will have one order that authorizes and bills as a single transaction.

		SALES TAX

		iTunes Store transactions will include sales tax based on the bill-to address and the sales tax rate in effect at the time your transaction is completed. If the sales tax rate for the billing address changes before the purchased or rented (as applicable) digital content is downloaded, the new tax rate in effect at the time of download will apply. We will only charge tax in states where digital goods are taxable. No customers are eligible for tax exemptions for transactions made on the iTunes Store.

		PRE-ORDERS

		By pre-ordering Products, you are authorizing the iTunes Store to automatically charge your account and download the product when it becomes available. You may cancel your pre-order prior to the time the item becomes available, by going to your Account page and clicking Manage Pre-Orders on your computer, or in the downloads section on your iPod touch or iPhone. Pre-orders purchased from your computer can only be managed and downloaded on your computer.

		GIFT CERTIFICATE TRANSACTIONS

		Gift Certificates may be redeemed for iTunes Store transactions only and are non-refundable, except as required by law. They cannot be used for purchases on the Apple Online Store or used in Apple Retail Stores. Sales tax will not be charged when the Gift Certificate is purchased. Sales tax is charged when the Gift Certificate is used for an iTunes Store transaction. The tax rate on the transaction is based on the address of the redeemer (see Tax section for more information). Purchases for Gift Certificates may be purchased only in whole dollar increments or designated amounts. Gift Certificates may not be used to purchase other Gift Certificates, iTunes Cards or Allowance Accounts.

		i. The laws of the State of California, excluding its conflicts of law rules, govern this license and your use of the Licensed Application. Your use of the Licensed Application may also be subject to other local, state, national, or international laws. 
	</textarea>
    <input name="Agree" type="checkbox" value="I Agree" />
	<h4>I Agree</h4>
	<input type="button" value="Back" class="backButton"/>
	<input type="button" value="Next" class="nextButton"/>
</div>
<div id="step4" class="hide">
	<img src="paypal.png" width="498" height="450"  align="middle" />
[Paypal stuff goes here]
	<input type="button" value="Back" class="backButton"/>
	<input type="button" value="Next" class="nextButton"/>
</div>
<div id="step5" class="hide">
[making password stuff goes here]
	<input type="button" value="Back" class="backButton"/>
	<input id="complete" type="submit" value="Complete"/>
</div>
<div id="step6" class="hide">
[inviting people goes here]
	<input type="button" value="Back" class="backButton"/>
	<input id="complete" type="submit" value="Complete"/>
</div>
<div id="footer">

</div>




<script src="createTeam.js"></script>
<script src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
<script src="http://plugins.jquery.com/files/jquery.dump.js.txt"></script>
<style>
.hide
{
  display:none;
}
</style>
<script>
  showStep = function(e, fn) {
    var $div = $(e.target).parents('div');
    var $div2 = fn.apply($div);
    $($div).addClass('hide');
    $($div2).removeClass('hide');
  }
  $('.nextButton').click(function(e){  showStep(e, $.fn.next) } );
  $('.backButton').click(function(e){  showStep(e, $.fn.prev) } );
  $('#complete').click(function(){  })
</script>
</body>
</html>
