{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Taylor Intramurals</h1>
<p style="font-family:Ariel;">Welcome to the Taylor Intramurals website! This new website was made to make it easier to get involved with intramural sports.   As of right now this site is still in the works, so please be patient with us.  However, you should get excited because there are some cool things on the way. </p>
<p style="font-family:Ariel; font-weight: bold;">** Note for tennis: matches are posted by the week. DISREGARD the time and day of the matches, you need to coordinate with your opponent for when to play.  Please have all matches done by Sunday and email results to Jeff Hubley.  Let him know if you have any questions.  Thanks!  </p>
<!--
<div id="pichome">
<img src="/intramurals/images/slideshow/2.jpg" title="Hello there I'm the second caption"></img>
</div>
-->

{% endblock %}
