{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Taylor Intramurals</h1>
<p style="font-family:Ariel;">Welcome to the Taylor Intramurals website! This new website was made to make it easier to get involved with intramural sports.   As of right now this site is still in the works, so please be patient with us.  However, you should get excited because there are some cool things on the way.  The first of these is the ability to register online.  If you're interested in playing ultimate frisbee, why don't you go ahead and check it out.</p>

<center><a href="/register"><button>Sign up for Ultimate >> </button></a></center>
<!--
<div id="pichome">
<img src="/intramurals/images/slideshow/2.jpg" title="Hello there I'm the second caption"></img>
</div>
-->

{% endblock %}
