{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Taylor Intramurals</h1>
<p>Welcome to the Taylor Intramurals website! This new website was made so that people are now enforced to pay before even joining the team. You will need a Credit Card to join a team (unless you can not pay with credit card, then there will be another option for you)</p>
<hr/>
<div>
The Basketball Champions...  Team Blah Blah!! B = Staff won A = E Pluribus Unum C = The Moose Knuckles
</div>
<div id="pichome">
<img src="/intramurals/images/slideshow/2.jpg" title="Hello there I'm the second caption"></img>
</div>

{% endblock %}
