{% extends 'base.html' %}

{% block pagetitle %}{{sport}}{% endblock %}
{% block title %}{{sport}}{% endblock %}
{% block javascript %}
<!--
function UpdateSport() {
    var sportChoices = document.getElementById("sportDropDown");
    var newPage = sportChoices.options[sportChoices.selectedIndex].value
    window.location.href=newPage
}
function UpdateYear() {
    var yearChoices = document.getElementById("yearDropDown");
    var newPage = yearChoices.options[yearChoices.selectedIndex].value
    window.location.href=newPage
}
//-->
{% endblock %}
{% block content %}
<div class="mainbody">  	
  <form>
    <select id="sportDropDown" onchange="UpdateSport()">
      <option>{{sportName}}</option>
      <option>All Sports</option>
	{% for sport in sportList %}
      <option value="http://127.0.0.1:8000/sports/{{sport.lwr}}/{{year}}">{{sport}}</option>
	{% endfor %}
    </select>
    <select id="yearDropDown" onchange="UpdateYear()">
	{% for yr in yrList %}
      <option value="http://127.0.0.1:8000/sports/{{sportNameLwr}}/{{yr}}">{{yr}}</option>
	{% endfor %}
    </select>
    <select id="sportDropDown" onchange="UpdateSport()">
      <option>{{sportName}}</option>
      <option value="http://127.0.0.1:8000/sports">All Sports</option>
	{% for sport in sportList %}
      <option value="http://127.0.0.1:8000/sports/{{sport.lwr}}">{{sport}}</option>
	{% endfor %}
    </select>
  </form>
 <!-- display information for the specified sport -->
  <div class="sportPhoto">
    {{ sport.Photo }}
  </div>
  <div class="sportLogo">
    {{ sport.Logo }}
  </div>
  <div class="sportName">
    {{ sport.Name }}
  </div>
{% for season in sport.seasonList %}
  <div  class="registration">
    {{ season.Name }} Registration: {{ season.RegistrationStart|date:"M j, Y" }} - {{ season.RegistrationEnd|date:"M j, Y" }}
  </div>
{% endfor %}
  <div class="sportRules">
    <a href="{{ sport.Rules }}" target="_blank">Official rules</a>
  </div>
{% endblock %}
