<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Create a Team</title>
<link href="CSS/intramurals.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table class="mainlayout" align="center">
	<tr class="titlehead">
    	<td colspan="5">
        <h1 align="center"> Create a Team </h1>
        </td>
    </tr>
    <tr class="navigation">
    	<td>
        <h3> Step 1 </h3>
        </td>
        <td>
        <h3> Step 2 </h3>
        </td>
        <td>
        <h3> Step 3 </h3>
        </td>
        <td class="navigationselect">
        <h3> Step 4 </h3>
        </td>
        <td>
        <h3> Step 5 </h3>
        </td>
    </tr>
    <tr class="mainbody">
    	<td colspan="5">
        	<table class="box1">
            <form action="Key.html" method="post" name="CreateTeam">
        		<tr>
                	<td>
                    	<img src="paypal.png" width="498" height="450"  align="middle" />
                    </td>
                </tr>
                <tr>
                	<td>
                    	<input type="submit" value="Next" />
                    </td>
                </tr>
            </form>
        	</table>
        </td>
    </tr>
</table>

</body>
</html>
