<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<title>Referee Schedule</title>
</head>
<body>
<div id="header">
  	<table class="mainlayout">
		<tr class="titlehead">
			<td colspan="250">
			<h1>Referee Schedule</h1>
			</td>
                </tr>
	</table>
<ul>
  <li><a href="/home">Home</a></li>
  <li><a href="/referees">Referees</a></li>
</ul>
<ul>
  <h2>Games for {{referee.Person.FirstName}}</h2>
  {% for game in gameList %}
  <h3>{{game.HomeTeam}} vs. {{game.AwayTeam}}</h3>
  <li>Time: {{game.StartTime}}</li>
  <li>Location: {{game.Location}}</li>
  {% endfor %}
</ul>
</body>
</html>
