{% extends 'base.html' %}

{% block pagetitle %}{{sportName}} Referees{% endblock %}
{% block title %}{{sportName}} Referees{% endblock %}
{% block javascript %}
<!--
function UpdateSport() {
    var sportChoices = document.getElementById("sportDropDown");
    var newPage = sportChoices.options[sportChoices.selectedIndex].value
    window.location.href=newPage
}
function UpdateYear() {
    var yearChoices = document.getElementById("yearDropDown");
    var newPage = yearChoices.options[yearChoices.selectedIndex].value
    window.location.href=newPage
}
//-->
{% endblock %}
{% block content %}
<div class="mainbody">  	
  <form>
    <select id="sportDropDown" onchange="UpdateSport()">
      <option>{{sportName}}</option>
      <option value="http://127.0.0.1:8000/referees/{{yearSelected}}">All Sports</option>
	{% for sport in sportDropDown %}
      <option value="http://127.0.0.1:8000/referees/{{sport.lwr}}/{{yearSelected}}">{{sport}}</option>
	{% endfor %}
    </select>
    <select id="yearDropDown" onchange="UpdateYear()">
	{% for year in yearList %}
      <option value="http://127.0.0.1:8000/referees/{{sportNameLwr}}/{{year}}">{{year}}</option>
	{% endfor %}
    </select>
  </form>
 <!-- display information for the specified sport -->
  <ul>{% for season in sport.seasonList %}
    <li><span class="sportName">{{ season }} {{ sport }}<br /></span></li>
    <ul>{% for league in season.leagueList %}
      <li><span class="leagueName">{{ league }}<br /></span></li>
      <ul>{% for referee in league.refereeList %}
        <li><span class="refereeLink"><a href="/referees/{{referee.id}}/">{{referee}}</a><br /></span></li>
	{% endfor %}
      </ul>
      {% endfor %}
    </ul>
    {% endfor %}
  </ul>
</div>
{% endblock %}


