{% extends 'base.html' %}

{% block pagetitle %}Referees{% endblock %}
{% block title %}Referees{% endblock %}
{% block content %}
<div class="mainbody">  	
  <ul>{% for sport in sportList %}
    <!-- insert sport icon/photo here -->
    <li><span class="sportName">{{sport.Name}}<br /></span></li>
    <ul>{% for season in sport.seasonList %}
      <li><span class="seasonName">{{ season.Name }}<br /></span></li>
      <ul>{% for league in season.leagueList %}
        <li><span class="leagueName">{{ league.Name }}<br /></span></li>
	<ul>{% for referee in league.refereeList %}
          <li><span class="refereeLink"><a href="/referees/{{referee.id}}/">{{referee}}</a><br /></span></li>
	  <!-- don't forget divisions -->
	  {% endfor %}
	</ul>
	{% endfor %}
      </ul>
      {% endfor %}
    </ul>
    {% endfor %}
  </ul>
</div>
{% endblock %}
