{% extends 'base.html' %}

{% block pagetitle %}Register{% endblock %}
{% block title %}Register{% endblock %}
{% block content %}
<h1>Ultimate Frisbee Registration</h1>

<center style="margin-top:10%;">
<h2>Would you like to</h2>
<span class="pageLink"><a href="createTeam1"><button>Create a Team</button></a></span>
<b>or</b>
<span class="pageLink"><a href="joinTeam1"><button>Join a Team</button></a></span>
</center>
<!--
<div class="pageLink"><a href="createTeam1"><button>Create a Team</button></a></div>
<div class="pageLink"><a href="joinTeam1"><button>Join a Team</button></a></div>
-->

<style>
.pageLink {
    margin:30px;
}
</style>
{% endblock %}
