{% extends 'base.html' %}

{% block pagetitle %}Register{% endblock %}
{% block title %}Register{% endblock %}
{% block content %}
<h1>Registration</h1>

<h2>Would you like to</h2>


<div class="pageLink"><button style="width:65;height:65" onClick="window.location='/createTeam1/{{sport.id}}'">Create a Team?</button></div>
<div class="pageLink"><button style="width:65;height:65" onClick="window.location='/joinTeam1/{{sport.id}}'">Join a Team?</button></div>


<style>
.pageLink {
    margin:30px;
}
</style>
{% endblock %}
