<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<title>Sports</title>
</head>
<body>
<div id="header">
	<table class="mainlayout" align="center">
		<tr class="titlehead">
			<td colspan="250">
			<h1 align="center">Sports</h1>
			</td>
			<td colspan="250">
			  <select name="Season"/>
			  <option value="2009-2010">2009-2010</option>
			  <option value="2010-2011">2010-2011</option>
			  </select>
                        </td>
                </tr>
	</table>

</body>
</html>
