{% extends "base.html" %}
{% block content %}
<div id="sportContent">
  {% for sport in sportList %}
  <div class="sportPhoto">
    {{ sport.Photo }}
  </div>
  <div class="sportLogo">
    {{ sport.Logo }}
  </div>
  <div class="sportName">
    {{ sport.Name }}
  </div>
    {% for season in sport.seasonList %}
  <div  class="registration">
    {{ season.Name }} Registration: {{ season.RegistrationStart|date:"M j, Y" }} - {{ season.RegistrationEnd|date:"M j, Y" }}
  </div>
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}

