  {% for sport in sportList %}    
  <ul>{% for season in sport.seasonList %}
    <li><span class="sportName">{{ season }} {{ sport }}<br /></span></li>
    <ul>{% for league in season.leagueList %}
      <li><span class="leagueName">{{ league }}<br /></span></li>
      <ul>{% for division in league.divisionList %}
	<li><span class="divisionName">{{ division }}<br /></span></li>
	<ul>{% for team in division.teamList %}
          <li><span class="teamLink"><a href="../teams/{{team.id}}/">{{team}}<br /></a></span></li>
	    {% endfor %}
	</ul>
	  {% endfor %}
      </ul>
        {% endfor %}
    </ul>
      {% endfor %}
  </ul>
  {% endfor %}
