{% extends "base.html" %}
{% block title %}Standings{% endblock %}
{% block content %}
<link href="{{static_pathname}}/css/stat.css" rel="stylesheet" type="text/css" />
<div id="container">


  <!-- this whole template assumes that we are given a table of (game, team, division, league) and that they ARE SORTED BY league then division  -->


  {% for league_list in records %}
  <div class="league">
    <b>{{league_list.league}}</b><br/>
    {% for division_list in league_list.divisions %}
    {{division_list.division}}
    <table>
{% autoescape off %}
      {% for team_list in division_list.teams %}
      <tr><td>{{team_list.teamRanking.Team}}</td><td>{{team_list.teamRanking.wins}}</td><td>{{team_list.teamRanking.losses}}</td><td>{{team_list.teamRanking.ties}}</td></tr>
      {% endfor %}
{% endautoescape %}
    </table>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
