{% extends 'base.html' %}

{% block pagetitle %}Standings{% endblock %}
{% block title %}Standings{% endblock %}
{% block javascript %}
<!--
function UpdateSport() {
    var sportChoices = document.getElementById("sportDropDown");
    var newPage = sportChoices.options[sportChoices.selectedIndex].value
    window.location.href=newPage
}
//-->
{% endblock %}
{% block content %}
<div class="mainbody">  	
  <form>
    <select id="sportDropDown" onchange="UpdateSport()">
      {% if sportName %}
      <option>{{sportName}}</option>
      {% endif %}
      <option value="http://127.0.0.1:8000/standings">All Sports</option>
	{% for sport in sportList %}
      <option value="http://127.0.0.1:8000/standings/{{sport.lwr}}">{{sport}}</option>
	{% endfor %}
    </select>
  </form>
  <ul>{% if sportName %}    <!-- display information for the specified sport -->
    <!-- insert sport icon/photo here -->
    <li><span class="sportName">{{sport}}<br /></span></li>
    <ul>{% for league in sport.leagueList %}
      <li><span class="leagueName">{{ league }}<br /></span></li>
      <ul>{% for division in league.divisionList %}
        <li><span class="divisionName">{{ division }}<br /></span></li>
	<ul>{% for team in division.teamList %}
          <li><span class="teamLink"><a href="index/teams/{{team.id}}/">{{team}}<br /></a></span></li>
	  {% endfor %}
	</ul>
	{% endfor %}
      </ul>
      {% endfor %}
    </ul>
    {% else %}{% for sport in sportList %}    <!-- display information for all the sports -->
    <li><span class="sportName">{{sport}}<br /></span></li>
    <ul>{% for league in sport.leagueList %}
      <li><span class="leagueName">{{ league }}<br /></span></li>
      <ul>{% for division in league.divisionList %}
        <li><span class="divisionName">{{ division }}<br /></span></li>
	<ul>{% for team in division.teamList %}
          <li><span class="teamLink"><a href="../teams/{{team.id}}/">{{team}}<br /></a></span></li>
	  {% endfor %}
	</ul>
	{% endfor %}
      </ul>
      {% endfor %}
    </ul>
    {% endfor %}{% endif %}
  </ul>
</div>
{% endblock %}
