{% extends 'base.html' %}

{% block pagetitle %}{{sport}} Standings{% endblock %}
{% block title %}{{sport}} Standings{% endblock %}
{% block javascript %}
<!--
function UpdateSport() {
    var sportChoices = document.getElementById("sportDropDown");
    var newPage = sportChoices.options[sportChoices.selectedIndex].value
    window.location.href=newPage
}
//-->
{% endblock %}
{% block content %}
<div class="mainbody">  	
  <form>
    <select id="sportDropDown" onchange="UpdateSport()">
      <option>{{sportName}}</option>
      <option value="http://127.0.0.1:8000/standings">All Sports</option>
	{% for sport in sportList %}
          {% if sport.active %}
      <option value="http://127.0.0.1:8000/standings/{{sport.lwr}}">{{sport}}</option>
          {% endif %}
	{% endfor %}
    </select>
  </form>
    {% if active %}   <!-- display information for the specified sport -->
  <ul>    <!-- insert sport icon/photo here -->
    <li><span class="sportName">{{sport}}<br /></span></li>
    <ul>{% for league in sport.leagueList %}
      <li><span class="leagueName">{{ league }}<br /></span></li>
      <ul>{% for division in league.divisionList %}
        <li><span class="divisionName">{{ division }}<br /></span></li>
	<ul>{% for team in division.teamList %}
          <li><span class="teamLink"><a href="index/teams/{{team.id}}/">{{team}}<br /></a></span></li>
	  {% endfor %}
	</ul>
	{% endfor %}
      </ul>
      {% endfor %}
    </ul>
    {% else %}    <!-- information requested for an inactive sport -->
  <span class="inactiveSport">{{ sportName }} is not being played this school year.</span>
    {% endif %}
</div>
{% endblock %}
