{% extends 'base.html' %}

{% block pagetitle %}Team Homepage{% endblock %}
{% block title %}Team Homepage{% endblock %}
{% block content %}
<span class="teamName">Team Name: {{ team.Name }} </span><br />
<span class="teamLivingUnit">Floor/Wing: {{ team.LivingUnit }} </span><br />
<span class="sportName">Sport: {{ team.Division.League.Season.Sport }} </span><br />
<span class="leagueName">League: {{ team.Division.League }} </span><br />
<span class="pageLink">Standings</span><br />
<div class="standings">
  <ul>
  {% for opponent in opponentList %}
      <li>{{ forloop.counter }}. <a href="/teams/{{opponent.id}}/">{{ opponent.Name }}</a> {{ opponent.record }}</li>
  {% endfor %}
  </ul>
</div>
<span class="teamCaptain">Team Captain: {{ team.Captain }} </span><br />
<div class="teamMembers">Team Members 
  <ul>
  {% for member in memberList %}
      <li>{{ forloop.counter }}. {{ member }}</li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
